<form action="/posts" method="post">
   Blog Name: <input type="text" name = "name" placeholder="Blog name">
  Content: <input type="text" name = "content" placeholder="content">
  <input type="submit" id="submit">
</form>
