<h1>Make New Post</h1>

<form action="/posts" method="post" id="post_form">
  <p>Name: <input type="text" name="name"> </p>
  <p>Content</p>
  <textarea name="content" form="post_form">Enter here...</textarea>

  <button type="submit" value"submit">submit</button>

</form>
