<h1>Create New Post</h1>
<form action="/posts" method="post">
  <p>Name: <input type="text" name="name" placeholder="Write title here"></p>
  <p>Content: <input type="text" name="content" placeholder="Write blog here"></p>
  <p><button type="submit" value="submit">Submit</button></p>
