<!DOCTYPE html>
  <head>

  </head>

  <body>
    <form action="/posts" method="post">
      <input type="text" name="name" placeholder="blog name here"><br>
      <input type="text" name="content" placeholder="content here"><br><br>
      <input type="submit" name="submit" value="submit">
    </form>
  </body>

</html>
