<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Blog</title>
  </head>
  <body>
    <h3><%= "#{@post.name}" %><br>
      <%= "#{@post.content}" %></h3><br><br>

      <form action="/posts/<%= @post.id %>/delete" method="post">
        <input id="hidden" type="hidden" name="_method" value="delete">
        <input type="submit" value="delete">
      </form>
  </body>
</html>
